<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

  <article>
    <header>
    <h2>page not found <span data-frown>:(</span></h2>
    </header>
    <p>bad luck ...</p>
  </article>
